/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/********** Global Styles **********/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/images/site/small_check.jpg");
  color: #333;
  min-width: 400px;
}

a {
  color: #333;
  text-decoration: none;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

/********** Wrapper Styles **********/
#wrapper {
  width: 80%;
  margin: 10% auto;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  outline: #00b0bd solid 5px;
  border-radius: 5px;
}

/********** Header Styles **********/
header {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  grid-gap: 10px;
}

#tools {
  align-self: center;
}

.siteName a {
  font-size: 32px;
  font-weight: bold;
}

#tools a {
  float: right;
  font-size: 16px;
}

/********** Navigation Styles **********/
nav {
  line-height: 40px;
  background-color: #35424a;
  color: #ffffff;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  flex: 1;
}

nav ul li:hover {
  background-color: #00a7b3;
  cursor: pointer;
}

nav ul li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

/********** Notice styles ****************/
.notice {
  background-color: rgba(255, 188, 188, 0.8);
  list-style: none;
  padding: 10px;
}

/********** Main Content Styles **********/
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  column-gap: 5%;
  row-gap: 25px;
}

/* First Row */
.hero {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

#hero-title {
  grid-column: 1 / span 2;
}

#hero-image {
  grid-column: 1 / span 2;
  grid-row: 2;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.hero-description {
  grid-column: 1;
  grid-row: 2;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #008791;
  font-size: 18px;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#action-button {
  margin: 10px;
  padding: 10px;
  background-color: #00a7b3;
  font-weight: bold;
  font-size: 20px;
}

/* Second Row */

/* First Column */
.upgrade-section {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.upgrade-section h2 {
  grid-column: 1 / span 2;
}

.upgrade-card {
  background-color: #c9f8f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upgrade-card img {
  width: auto;
  height: 80px;
  margin-bottom: 20px;
}

.upgrade-card a {
  text-decoration: underline;
  color: #0d00bd;
}

/* Second Column */
.review-section {
  grid-column: 2;
  display: grid;
  grid-template-rows: 30px 1fr;
  column-gap: 10px;
}

/********** Footer Styles **********/

/********** Car list Styles **********/
#inv-display {
  width: 100%;
  border-collapse: collapse;
  display: table;
}

#inv-display a {
  display: block;
}

#inv-display li {
  outline: #00b0bd solid 5px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 25px 0;
  display: block;
}

.namePrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.namePrice hr {
  display: none;
}

/************ Vehicle detail Styles **********/
#vehicleImage {
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 2;
}

#vehicleImage img {
  width: 100%;
  height: auto;
}

.vehicleDetails {
  width: 100%;
  border-collapse: collapse;
  grid-column: 2;
  grid-row: 2;
}

.vehicleDetails ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0px;
}

.vehicleDetails ul li {
  padding: 10px;
}

.vehicleDetails ul li:nth-child(odd) {
  background-color: #edfcfa;
}

/********** Form Styles ***************/
form {
  grid-column: 1 / span 2;
  grid-row: 2;
  padding: 30px;
  border-radius: 5px;
  display: flex;

  flex-direction: column;
  background-color: #b0d9dc;
  justify-self: center;
}

input {
  margin-bottom: 20px;
}

.submit-button {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #008791;
  font-weight: bold;
  font-size: medium;
}

#pswdBtn {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 7em;
  text-align: center;
}

input:required:invalid,
input:focus:invalid {
  background-color: rgb(255, 181, 181);
}

input:required:valid,
input:focus:valid {
  background-color: rgb(181, 255, 181);
}

/********** Responsive Styles **********/
@media (max-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  #wrapper {
    margin: 0;
    width: 100%;
  }

  nav ul {
    font-size: 13px;
  }

  nav ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }

  .hero {
    grid-column: 1;
  }

  #hero-image {
    width: 100%;
  }

  .hero-description h2 {
    font-size: 22px;
  }

  .hero-description p {
    font-size: 16px;
  }

  #action-button {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
  }

  .review-section {
    grid-column: 1;
    grid-row: 2;
    height: 300px;
  }

  .upgrade-section {
    grid-column: 1;
    grid-row: 3;
  }

  #vehicleImage {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .vehicleDetails {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}
