<!-- Display the title if it exists, otherwise redirect to home -->
<% if (title) { %>
<h1>
  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <%  }) %>
    </ul>
  <% } %>
  <%= title %>
</h1>
<% } else {
  res.redirect('/')
} %>

<div class="invManagementLinks">
  <a href="/inv/addClassification" title="Add Classification">Add Classification</a>
  <a href="/inv/addinventory" title="Add Inventory">Add Inventory</a>
</div>
